#define ZMK_POINTING_DEFAULT_SCRL_VAL 200

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

/***********************
+------+------+------+------+------+                    +------+------+------+------+------+
|   0  |   1  |   2  |   3  |   4  |                    |   5  |   6  |   7  |   8  |   9  |
+------+------+------+------+------+                    +------+------+------+------+------+
|  10  |  11  |  12  |  13  |  14  |                    |  15  |  16  |  17  |  18  |  19  |
+------+------+------+------+------+                    +------+------+------+------+------+
|  20  |  21  |  22  |  23  |  24  |                    |  25  |  26  |  27  |  28  |  29  |
+------+------+------+------+------+                    +------+------+------+------+------+
                         +------+------+             +------+------+
                         |  30  |  31  |             |  32  |  33  |
                         +------+------+             +------+------+
***********************/

&mt {
    tapping-term-ms = <300>;
    flavor = "balanced";
};

&lt { quick-tap-ms = <300>; };

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
            layers = <0>;
        };

        stab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        btreset {
            bindings = <&bt BT_CLR>;
            key-positions = <0 4>;
            layers = <3>;
        };

        boot {
            bindings = <&bootloader>;
            key-positions = <1 2 3>;
            layers = <3>;
        };

        lwin {
            bindings = <&kp LEFT_WIN>;
            key-positions = <20 21>;
        };

        lalt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <20 22>;
        };

        rwin {
            bindings = <&kp RIGHT_WIN>;
            key-positions = <29 28>;
        };

        ralt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <29 27>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
&kp Q             &kp W  &kp E    &kp R  &kp T                                      &kp Y        &kp U  &kp I      &kp O    &kp P
&mt LCTRL A             &kp S  &lt 3 D  &kp F  &kp G                                      &kp H        &kp J  &lt 3 K    &kp L    &mt RCTRL MINUS
&mt LEFT_SHIFT Z  &mt LEFT_WIN X  &mt LEFT_ALT C    &kp V  &kp B                                      &kp N        &kp M  &mt RIGHT_ALT COMMA  &mt RIGHT_WIN DOT  &mt RIGHT_SHIFT SLASH
                                          &lt 1 SPACE  &lt 3 GRAVE    &kp BACKSPACE  &lt 2 ENTER
            >;
        };

        function_layer {
            display-name = "Function";
            bindings = <
&kp F1         &kp F2           &kp F3      &kp F4         &kp F5                               &kp F6             &kp F7    &kp F8    &kp F9     &kp F10
&kp JP_COLON   &kp EXCLAMATION  &kp SLASH   &kp JP_LPAREN  &kp JP_LBRACKET                      &kp JP_UNDERSCORE  &mkp MB1  &kp UP    &mkp MB2   &kp F11
&kp SEMICOLON  &kp QUESTION     &kp JP_YEN  &kp JP_RPAREN  &kp JP_RBRACKET                      &kp JP_AT          &kp LEFT  &kp DOWN  &kp RIGHT  &kp F12
                                                            &trans           &trans    &trans     &trans
            >;
        };

        number_layer {
            display-name = "Number";
            bindings = <
&kp TAB               &kp N7        &kp N8        &kp N9        &kp MINUS                          &kp RIGHT_BRACKET  &trans    &mkp MB3  &trans     &kp ESC
&kp DOT       &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp JP_PLUS                        &kp RPAR           &mkp MB1  &kp UP    &mkp MB2   &kp COLON
&kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL                          &kp RIGHT_BRACE    &kp LEFT  &kp DOWN  &kp RIGHT  &kp SLASH
                                                                 &kp ESC    &kp DEL    &kp LANG1  &trans
            >;
        };

        scroll_layer {
            display-name = "Scroll";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &kp LC(LG(LEFT))  &kp LG(TAB)  &mkp MB3  &trans     &kp LG(LC(RIGHT))
&studio_unlock        &trans        &trans        &trans        &trans                          &mkp MB4          &mkp MB1     &kp UP    &mkp MB2   &mkp MB5
&trans        &trans        &trans        &trans        &trans                          &trans            &kp LEFT     &kp DOWN  &kp RIGHT  &trans
                                                        &trans        &trans    &trans  &trans
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &mkp MB3  &trans    &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &mkp MB1  &trans    &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans    &trans    &trans
                                &trans  &trans    &trans  &trans
            >;
        };
    };
};
